{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}
{% block content %}
<body style="background-color: #222222;">
<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="{% static '/pics/ketobasque1v1.jpg' %}" alt="" style="width:100%;" class="img-responsive">
           <div class="carousel-caption" style="font-family: 'Playball', cursive; color: #460000  ;">
           <h1 class="display-2">{{ page.title }}</h1>
           </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="col-sm-offset-1">
        {% if page.main_image %}
            {% image page.main_image fill-400x350 class="col-sm-2 img-circle img-responsive" %}
        {% endif %}
    <h1 class="col-sm-9" style="font-family: 'Playball', cursive; color: #DBC1AD; margin-top: 0;">{{ page.title|richtext }}</h1>
    <p class="col-sm-9" >Height: {{ page.height }} | Age: {{ page.age }} | Location: {{ page.location }}</p>
    <p class="col-sm-9">Routine: {{ page.routine }} | Diet: {{ page.diet }}</p>
    <p class="col-sm-9"><a  href="{{ post.myfitnesspal }}">MyFitnessPal</a> | <a href="{{ post.instagram }}">Instagram</a></p>
</div>

<hr class="col-sm-offset-1 col-sm-10">
    
<div class="col-sm-offset-1 col-sm-5" style="color: #DBC1AD; font-size: 12px;">
    <h2 class="col-sm-12 text-center">About</h2>
    {{ page.body | richtext }}
</div>


<div class="col-sm-5" style="color: #DBC1AD; font-size: 12px;">
    <h2 class="col-sm-12 text-center">Posts</h2>
{% for post in blogpage %}
    {% with post=post.specific %}
      <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
      <h5 style="color: #DBC1AD  ;"><span class="glyphicon glyphicon-time"></span> Post by {{ post.author }}, {{ post.date }}</h5>
      <hr>
      <br>
    {% endwith %}
{% endfor %}
</div>

</body>


{% endblock %}